.select-style {
    position: absolute;
    z-index: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
